* {
    padding: 0;
    margin: 0;
    background: black;
    overflow: hidden;
    z-index: 0;
}

.information {
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: #FFFFFF;
    z-index: 1;
}

.information a:link {
  color: #FFFFFF;
}

.information a:visited {
  color: #FFFFFF;
}

.information a:hover {
  color: #0095DD;
}

.information a:active {
  color: #FFFFFF;
}

.overlay {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); 
  z-index: 2; 
}

.instructions {
    width: 560px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    background-color: rgba(0,0,0); 
    margin: auto;
    border: 1px solid #0095DD;
    padding: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    left: 50%;
    top: 30px;
    transform: translate(-50%, -50%);
    position: absolute;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    left: 50%;
    top: 60px;
    bottom: 60px;
    width: 75%;
    text-align: left;
    transform: translate(-50%, 0);
    position: absolute;
    margin: 0;
    padding: 0;
}

.container {
  display: block;
  position: absolute;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0095DD;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 3px;
  top: 1px;
  width: 3px;
  height: 4px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 15px;
  height: 15px;
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 12px;
  width: 2px;
  background-color: #0095DD;
}

.close:hover::after {
    background-color: #FFFFFF;
}

.close:hover::before {
    background-color: #FFFFFF;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}